@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background;
    font-feature-settings: "rlig" 1, "calt" 1;
    font-family: "Montserrat";
  }
}

.toggle_item {
  @apply relative mb-2 mr-4 min-h-full w-36 flex-none flex-col items-center rounded-3xl border-2 border-solid border-transparent bg-[rgb(235,237,239)] p-3 text-xs hover:border-[rgb(192,197,206)] hover:shadow-[rgba(10,11,13,0.08)_0px_0px_1px,rgba(10,11,13,0.12)_0px_3px_4px] focus:z-10 focus:outline-none data-[state=on]:border-[#1a73ff] data-[state=on]:bg-[white] data-[state=on]:shadow-[rgba(10,11,13,0.05)_0px_1px_2px,rgba(10,11,13,0.12)_0px_5px_11px] sm:mb-0 sm:w-44 md:w-56 md:text-base xl:text-lg;
}

.toggle_group {
  @apply mb-1 flex flex-col pb-2 sm:flex-row;
}

.toggle-group-header {
  @apply mb-2 mb-3 flex flex-row items-center font-semibold md:mb-5;
}

.toggle-group-number {
  @apply flex h-8 w-8 items-center justify-center rounded-full bg-[#c9e0f8] text-sm sm:text-base md:h-10 md:w-10 md:text-lg;
}

.toggle-group-title {
  @apply ml-2 flex text-lg sm:ml-6 sm:text-xl md:ml-8 md:text-2xl;
}
